 <script type="text/javascript">
   var custom_toolbar = 
   [
     { name: 'source', items: [ 'Source' ]}, 
     { name: 'clipboard',   items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] }, 
     { name: 'basicformatting', items: [ 'Bold', 'Italic', 'Underline', '-','RemoveFormat' ] }, 
     { name: 'colors',      items : [ 'TextColor','BGColor' ] }, 
     { name: 'paragraph',   items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote', '-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock' ] }         
   ];

   $(document).ready(function() {
       $("#routine_description").ckeditor(
         function() {}, { toolbar: custom_toolbar }
       );
       
       $('#routine_starts_at').datetimepicker({
         ampm: true, 
         dateFormat: 'D dd M yy', 
          timeFormat: 'hh:mm tt',
          separator: ', '
       });
       
       $('#routine_ends_at').datetimepicker({
         ampm: true, 
         dateFormat: 'D dd M yy', 
          timeFormat: 'hh:mm tt',
          separator: ', '
       });
    });
</script>


<%= simple_form_for(@routine, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <%= f.input :starts_at %>
  <%= f.input :ends_at %>
  <%= f.input :all_day %>
  <%= f.association :children, :label_method => :name %>
  <%= f.association :subject %>
  <%= f.input :description, :input_html => { :class => 'span6', :rows => 5 } %>
  <%= f.input :published %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
