<%= simple_form_for(@routine, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <%= f.input :starts_at %>
  <%= f.input :ends_at %>
  <%= f.input :all_day %>
  <%= f.association :children, :label_method => :name %>
  <%= f.association :subject %>
  <%= f.input :description, :input_html => { :class => 'span6', :rows => 5 } %>
  <%= f.input :published %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
