<script type='text/javascript'>
  $(document).ready(function() {
    
    $('#calendar').fullCalendar({
      editable: true,
      
  		header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      
      defaultView: 'month',
      height: 500,
      slotMinutes: 15,
      
      loading: function(bool){
          if (bool) 
              $('#loading').show();
          else 
              $('#loading').hide();
      },
      
      eventSources: [
        // Daily Routine Stuff
        <% @child_ids.each_with_index do |child_id, i| %>
        {
          url: '/routines',
          data: {
            child_id: "<%= child_id %>"
          }, 
          backgroundColor: "<%= @backgroundColors[i] %>", 
          textColor: "<%= @textColors[i] %>",
        },
        <% end %>
      ],
      
      ignoreTimezone: true, 
//      timeFormat: 'h:mm t{ - h:mm t} ',
      dragOpacity: "0.5",
      
      //http://arshaw.com/fullcalendar/docs/event_ui/eventDrop/
      eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
          updateRoutine(event);
          
      },

      // http://arshaw.com/fullcalendar/docs/event_ui/eventResize/
      eventResize: function(event, dayDelta, minuteDelta, revertFunc){
          updateRoutine(event);
      },

      // http://arshaw.com/fullcalendar/docs/mouse/eventClick/
      eventClick: function(event, jsEvent, view){
        // would like a lightbox here.
      },
      
      dayClick: function(date, allDay, jsEvent, view) {
        $(this).css('background-color', '#FBB4AE');
        url = "/routines/<%= @role %>/" + date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
        $(location).attr('href', url);
      }
    });
  });
  
  function updateRoutine(the_routine) {
      $.update(
        "/routines/" + the_routine.id,
        { routine: { title: the_routine.title,
                     starts_at: "" + the_routine.start,
                     ends_at: "" + the_routine.end,
                     description: the_routine.description
                   }
        },
        function (response) { alert('successfully updated task.'); }
      );
  };
</script>

<div class="row">
  <% @child_names.each_with_index do |name, i| %>
  <div class="span1 event_legend" style="background-color: <%= @backgroundColors[i] %>; color: <%= @textColors[i] %>">
    <%= name %>
  </div>
  <div class="span1">
  </div>
  <% end %>
  <div class="span<%= 12 - (@child_names.count * 2) %>">
  </div>
</div>

<hr />

<div id='calendar'>
  
</div>


