<h1>Routines</h1>

<table class="table">
  <thead>
	  <tr>
      <th>ID</th>
      <th>Teacher</th>
      <th>Children</th>
      <th>Start Date/Time</th>
      <th>End Date/Time</th>
      <th>All Day?</th>
      <th>Subject</th>
      <th>Description</th>
      <% if current_user.has_role? :teacher %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @routines.each do |routine| %>
      <tr>
        <td><%= routine.id %></td>
        <td>TODO</td>
        <td><%= routine.children.collect { |child| child.name }.join(", ") %></td>
        <td><%= routine.starts_at %></td>
        <td><%= routine.ends_at %></td>
        <td><%= routine.all_day %></td>
        <td><%= routine.subject.name %></td>
        <td><%= routine.description %></td>
        <% if current_user.has_role? :teacher %>
        <td>
          <%= link_to 'Edit', edit_routine_path(routine), :class => "btn btn-mini" %>
          <%= link_to 'Delete', routine, :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-mini btn-danger' %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.has_role? :teacher %>
  <%= link_to 'New', new_routine_path, :class => 'btn btn-primary' %>
<% end %>
