<h1>
  <%= @routine.subject.name %>
  <small>
    <% if @routine.all_day %>
      on <%= @routine.starts_at.strftime("%m/%d/%Y") %>
    <% else %>
      from <%= @routine.starts_at.strftime("%m/%d/%Y %I:%M %P" ) %> till <%= @routine.ends_at.strftime("%m/%d/%Y %I:%M %P" ) %>
    <% end %>
  </small>
</h1>

<p>
  <em>by <%= @routine.children.collect { |child| child.name }.join(", ") %></em>
</p>

<p>
  <%= @routine.description %>
</p>

<% if current_user.has_role? :teacher %>
  <%= link_to 'Edit', edit_routine_path(@routine) %> |
<% end %>
<%= link_to 'Back', :back %>
