<h1><%= @routine.title %></h1>

<p>
  <b>Teacher:</b>
  TODO
</p>

<p>
  <b>Child:</b>
  <%= @routine.child.name %>
</p>

<p>
  <b>Starts at:</b>
  <%= @routine.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @routine.ends_at %>
</p>

<p>
  <b>All day:</b>
  <%= @routine.all_day %>
</p>

<p>
  <b>Description:</b>
  <%= @routine.description %>
</p>

<% if current_user.has_role? :teacher %>
  <%= link_to 'Edit', edit_routine_path(@routine) %> |
<% end %>
<%= link_to 'Back', :back %>
