<script type="text/javascript">
  var relationships = [
  	"Father",
  	"Mother",
  	"Uncle",
  	"Aunt",
  	"Grandfather", 
    "Grandmother"
  ];
  
  $(document).on('nested:fieldAdded', function(event){
    var field = event.field.prev(); 
    var relationField = field.find('.relationship');
    relationField.autocomplete({
      source: relationships
    });
  });
  
  
  $(document).ready(function() {
    
    window.nestedFormEvents.insertFields = function(content, assoc, link) {
      return $(link).closest('.controls').before($(content));
    };
    
		$( ".relationship" ).autocomplete({
			source: relationships
		});
  });
</script>

<%= simple_nested_form_for(@child, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <%= f.input :first_name, :input_html => { :class => 'span4' } %>
  <%= f.input :last_name, :input_html => { :class => 'span4' } %>
  
  <div id="child_users" class="control-group optional">
    <label class="optional control-label" for="child_user">Parent(s)</label>
      
      <%= f.simple_fields_for :child_users do |cu| %>
      
        <div class="controls" style="margin-bottom: 10px;">
          <%= cu.input_field :id, :as => :hidden %>
          <%= cu.input_field :child_id, :as => :hidden %>
          <%= cu.input_field :user_id, :collection => @parents %>
          <%= cu.error :user_id %>
          <%= cu.input_field :relationship, :placeholder => "Relationship? (Father, Mother, etc)", :class => "relationship" %>
          <%= cu.link_to_remove 'remove' %>
        </div>
      <% end %>
      
      <div class="controls">
        <%= f.link_to_add 'Add', :child_users %>
      </div>
  </div>
  
  <%= f.input :album_id, :collection => @albums  %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
