<%= simple_form_for(@child, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <%= f.input :first_name, :input_html => { :class => 'span4' } %>
  <%= f.input :last_name, :input_html => { :class => 'span4' } %>
  <%= f.association(:user, :collection => User.joins(:roles).where("roles.name = 'parent'"), :label_method => :email) %>
  <%= f.input :album, :collection => @albums  %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
