<%= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>
  
  <fieldset>
    <legend>Account Information</legend>
  
  <%= f.input :email, :input_html => { :class => 'span4' } %>
  <%= f.input :password, :input_html => { :class => 'span4' } %>
  <%= f.input :password_confirmation, :input_html => { :class => 'span4' } %>
  
  <% if current_user.has_role? :admin %>
    <%= f.association :roles %>
  <% end %>
  </fieldset>
  
  <fieldset>
    <legend>Personal Information</legend>
  
  <%= f.input :first_name, :input_html => { :class => 'span4' } %>
  <%= f.input :last_name, :input_html => { :class => 'span4' } %>
  </legend>
  
  <fieldset>
    <legend>Contact Information</legend>
  
  <%= f.input :phone_home, :label => "Home Phone", :input_html => { :class => 'span4' } %>
  <%= f.input :phone_work, :label => "Work Phone", :input_html => { :class => 'span4' } %>
  <%= f.input :phone_mobile, :label => "Mobile Phone", :input_html => { :class => 'span4' } %>
  
  <%= f.input :address_home, :label => "Address", :input_html => { :class => 'span4' } %>
  <%= f.input :city_home, :label => "City", :input_html => { :class => 'span4' } %>
  <%= f.input :zip_home, :label => "Zip Code", :input_html => { :class => 'span4' } %>
  </fieldset>
  
  <fieldset>
    <legend>Other Details</legend>
  
  <%= f.input :notes, :input_html => { :rows => 10, :class => 'span4' } %>
  </fieldset>
  
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
