<%= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <%= f.input :email, :autofocus => true, :input_html => { :class => 'span4' } %>
  <%= f.input :password, :input_html => { :class => 'span4' } %>
  <%= f.input :password_confirmation, :input_html => { :class => 'span4' } %>
  
  <% if current_user.has_role? :admin %>
    <%= f.association :roles %>
  <% end %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
