<script type="text/javascript">
  $(document).ready(function(){
    $('#users').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap"
    });
  });
</script>

<h1>
  Users
  <div class="pull-right">
    <%= link_to 'New', new_user_path, :class => 'btn btn-primary' %>
  </div>
</h1>

<table id="users" class="table display">
  <thead>
	  <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Created On</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.roles.map{ |role| role.name }.join(", ") %></td>
        <td><%= user.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), :class => "btn btn-mini" %>
          <%= link_to 'Delete', user, :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-mini btn-danger' %>
        </td>
  
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= link_to 'New', new_user_path, :class => 'btn btn-primary' %>
</div>
